.header {
    display: flex;
    border-bottom:1px solid #828282;
    @media (max-width:1010px) {
        margin: auto 60px;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        margin: 17px 0;
        width: 100%;
    }
    &__nav-list {
        display: flex;
        justify-content: end;
        gap: 20px;
        @media (max-width:1010px) {
            padding: 0;
        }
    }
    &__nav-title {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        font-family: $gilroy;
        font-weight: 700;
        padding: 0;
        font-size: 18px;
        color: black;
        text-decoration: none;
    }
    &__nav-title:hover {
        color: #828282;
        transition: 1s;
    }
    &__nav-link {
        font-family: $gilroy;
        font-weight: 400; 
        font-size: 18px;
        gap: 20px;      
        text-decoration: none;
        color: #828282;       
    }
    &__nav-link:hover {
        color: black;
        transition: 1s;
    }
    &__nav-btn {
        border: none;
        padding: 0;
        font-family: $gilroy;
        font-weight: 400; 
        font-size: 18px;
        gap: 20px;      
        text-decoration: none;
        color: #828282;
        background: transparent;
    }
    &__nav-btn:hover {
        color: black;
        transition: 1s;
    }
    &__nav-item {
        list-style-type: none;        
    }
}