
// стилизация на чекбокс-Tags
.options__form-wrapper {
    display: flex;
    max-width: 115px;
    max-height: 25px;
    flex-wrap: wrap;
}
.options__form-CheckboxTags {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    font-size: 22px;
    height: 27px;
    user-select: none;
}
.options__form-inputTags {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.options__form-spanTags {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border-width: 3px;
    border-style: solid;
    border-radius: 6px;
}
.options__form-spanTags::after {
    content: "";
    position: absolute;
    display: none;
}
.options__form-inputTags:checked ~ .options__form-spanTags::after {
    display: block;
}
.options__form-CheckboxTags .options__form-spanTags::after {
    left: 6px;
    top: 0;
    width: 7px;
    height: 17px;
    border-style: solid;
    border-color: inherit;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    transform: rotate(30deg);
}

.options {
    display: flex;
    flex-direction: column;
    &__form {
        display: flex;
        gap: 55px;

    }
    &__form-checkbox {
        display: none;
    }
    &__form-text {
    width: 115px;
    }
    &__form-wrap {
        display: flex;
        flex-direction: column;
    }
    &__form-inner {
        display: flex;
        gap: 10px;
    }
    &__form-label {
        display: flex;
        max-height: 30px;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }
    &__form-wrap {
        gap: 10px;
    }
    &__form-text {
        font-family: $gilroy;
        font-size: 14px;
        font-weight: 500;
    }
    &__form-labelRadio,
    &__form-labelCheckbox {
        font-family: $gilroy;
        font-size: 18px;
        font-weight: 500;
        position: relative;
        margin-left: 20px;
        padding-left: 15px;
    }
    &__form-inputRadio {
        position: absolute;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
    &__form-inputCheckbox {
        position: absolute;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
    }
    &__form-spanCheckbox {
        display: block;
        margin-top: -28px;
        position: absolute;
        width: 25px;
        height: 25px;
        background-image: url(../img/blog/checkbox.svg);
    }
    &__form-spanRadio {
        display: block;
        margin-top: -24px;
        position: absolute;
        width: 25px;
        height: 25px;
        background-image: url(../img/blog/radio.svg);
    }
    &__form-inputCheckbox:checked + &__form-spanCheckbox {
        display: block;
        margin-top: -28px;
        position: absolute;
        width: 25px;
        height: 25px;
        background-image: url(../img/blog/checkbox-cheked.svg);
    }
    &__form-inputRadio:checked + &__form-spanRadio {
        display: block;
        margin-top: -24px;
        position: absolute;
        width: 25px;
        height: 25px;
        background-image: url(../img/blog/radioChecked.svg);
    }
    &__form-btnReset {
        width: 84px;
        height: 42px;
        font-family: $gilroy;
        color: #070707;
        font-weight: 700;
        border-radius: 30px;
        background-color: #fff;
        border: 2.5px solid #070707;
    }
    &__form-subtitle {
        font-family: $gilroy;
        color: #E5E5E5;
    }
    &__form-search {
        margin-top: 20px;
    }
    &__form-inputSearch {
        width: 90%;
        height: 45px;
        max-height: 100%;
        border: 2.5px solid #070707;
    }
    &__form-btnSearch {
        width: 84px;
        height: 42px;
        font-family: $gilroy;
        color: #070707;
        font-weight: 700;
        border-radius: 30px;
        background-color: #fff;
        border: 2.5px solid #070707;
    }
}


