<div class="cards__wrap-wrapper">
    <img class="cards__wrap-img" src="@@src" alt="@@alt">
    <h3 class="cards__wrap-text">@@text</h3>
    <div class="cards__wrap-inner">
        <label class="cards__wrap-label">@@num</label>
        <svg class="cards__wrap-svg" xmlns="http://www.w3.org/2000/svg" width="142" height="9" viewBox="0 0 142 9" fill="none">
            <rect width="142" height="9" fill="#E5E5E5"/>
            <rect width="@@rect" height="9" fill="#070707"/>
        </svg>
    </div>  
</div>