<header class="header container">
    <nav class="header__nav">
        <a class="header__nav-title" href="#">Home</a>
        <ul class="header__nav-list">
            <li class="header__nav-item">
                <a class="header__nav-link" href="#">My blog</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="#">Sign in</a>
            </li>
            <li class="header__nav-item">
                <a class="header__nav-link" href="#">Register</a>
            </li>
        </ul>
    </nav>
</header>