<ol class="footer__wrap-list">
    <li class="footer__wrap-item"><a class="footer__wrap-link" href="#" >Instagram</a></li>
    <li class="footer__wrap-item"><a class="footer__wrap-link" href="#" >Vk</a></li>
    <li class="footer__wrap-item"><a class="footer__wrap-link" href="#" >Telegram</a></li>
    <li class="footer__wrap-item"><a class="footer__wrap-link" href="#" >Mail</a></li>
    <li class="footer__wrap-item"><a class="footer__wrap-link" href="#" >GitHub</a></li>
    <li class="footer__wrap-item"><a class="footer__wrap-link" href="#" >Phone</a></li>
</ol>