<div class="modalWindow modalWindow_js hidden">
    <div class="modalWindow__background modalWindow__background_js"></div>
    <div class="modalWindow__wrap">
        <button class="modalWindow__wrap-closeBtn modalWindow__closeBtn_js"></button>
        <form class="modalWindow__wrap-wrapper" name="formData" action="#" method="post">
            <div class="modalWindow__wrap-inner">
                <label class="modalWindow__wrap-label" for="mail">Email</label>
                <input class="modalWindow__wrap-input" name="email" type="email" id="mail">
            </div>
            <ul class="modalWindow__wrap-list">
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="name">Name</label>
                    <input class="modalWindow__wrap-input" name="name" type="text" id="name">
                </li>
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="surname">Surname</label>
                    <input class="modalWindow__wrap-input" name="surname" type="text" id="surname">
                </li>
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="location">Location</label>
                    <input class="modalWindow__wrap-input" name="location" type="text" id="location">
                </li>
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="age">Age</label>
                    <input class="modalWindow__wrap-input" name="age" type="number" id="age">
                </li> 
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="image">Profile picture</label>
                    <input class="modalWindow__wrap-input" name="image" type="file" id="image">
                </li>                                                                                                  
            </ul>
            <button class="modal__wrap-link" type="submit">Submit change</button>
        </form>
    </div>
</div>