<div class="modalWindow modalWindow_js hidden">
    <div class="modalWindow__background modalWindow__background_js"></div>
    <div class="modalWindow__wrap">
        <button class="modalWindow__wrap-closeBtn modalWindow__closeBtn_js"></button>
        <form class="modalWindow__wrap-wrapper" name="register" action="./profile.html" method="post">
            <div class="modalWindow__wrap-inner">
                <label class="modalWindow__wrap-label" for="mail">Email</label>
                <input class="modalWindow__wrap-input" name="email" type="email" id="mail" placeholder="name@example.com">
            </div>
            <ul class="modalWindow__wrap-list">
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="Name">Name</label>
                    <input class="modalWindow__wrap-input" name="name" type="text" id="Name">
                </li>
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="surname">Surname</label>
                    <input class="modalWindow__wrap-input" name="surname" type="text" id="surname">
                </li>
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="Password">Password</label>
                    <input class="modalWindow__wrap-input" name="password" type="password" id="Password">
                </li>
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="repeatPassword">Repeat password</label>
                    <input class="modalWindow__wrap-input" name="repeat" type="password" id="repeatPassword">
                </li>
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="location">Location</label>
                    <input class="modalWindow__wrap-input" name="location" type="text" id="location">
                </li>
                <li class="modalWindow__wrap-item">
                    <label class="modalWindow__wrap-label" for="age">Age</label>
                    <input class="modalWindow__wrap-input" name="age" type="number" id="age">
                </li>                                                                                                
            </ul>
            <div class="modalWindow__wrap-wrapperCheck">
                <label class="modalWindow__wrap-text">Clicking on the button, you consent to the processing of your personal data.
                    <input class="modalWindow__wrap-checkbox" type="checkbox">
                    <span class="modalWindow__wrap-span"></span>
                </label>
            </div>
            <button class="modalWindow__wrap-link" type="submit">Sign In</button>
            <div class="modalWindow__wrap-loader modalWindow__wrap-loader_js hidden">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </div>
</div>