<div class="popup popup_js hidden">
    <div class="popup__background popup__background_js"></div>
    <div class="popup__wrap">
        <button class="popup__wrap-closeBtn popup__closeBtn_js"></button>
        <form class="popup__wrap-wrapper" name="formSignIn" action="./profile.html" method="post">
            <div class="popup__wrap-inner">
                <label class="popup__wrap-label" for="email">Email</label>
                <input class="popup__wrap-input" name="email" type="text" id="email">
            </div>
            <div class="popup__wrap-inner">
                <label class="popup__wrap-label" for="password">Password</label>
                <input class="popup__wrap-input popup__input" name="password" type="password" id="password">
            </div>
            <button class="popup__wrap-link" type="submit">Log in</button>
            <div class="full hidden main-loader_js">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </form>
    </div>
</div>