<div class="popup popup_js hidden">
    <div class="popup__background popup__background_js"></div>
    <div class="popup__wrap">
        <button class="popup__wrap-closeBtn popup__closeBtn_js"></button>
        <form class="popup__wrap-wrapper" action="#" method="post">
            <div class="popup__wrap-inner">
                <label class="popup__wrap-label" for="email">Email</label>
                <input class="popup__wrap-input" type="email" id="email">
            </div>
            <div class="popup__wrap-inner">
                <label class="popup__wrap-label" for="password">Password</label>
                <input class="popup__wrap-input popup__input" type="password" id="password">
            </div>
            <a class="popup__wrap-link" href="./profile.html">Log in</a>
        </form>
    </div>
</div>