<div class="popup popup_js hidden">
    <div class="popup__background popup__background_js"></div>
    <div class="popup__wrap">
        <button class="popup__wrap-closeBtn popup__closeBtn_js"></button>
        <form class="popup__wrap-wrapper" action="#" method="post">
            <div class="popup__wrap-inner">
                <label class="popup__wrap-label" for="oldPass">Old password</label>
                <input class="popup__wrap-input" type="password" id="oldPass">
            </div>
            <div class="popup__wrap-inner">
                <label class="popup__wrap-label" for="newPass">New password</label>
                <input class="popup__wrap-input popup__input" type="password" id="newPass">
            </div>
            <div class="popup__wrap-inner">
                <label class="popup__wrap-label" for="repeatPass">Repeat new password</label>
                <input class="popup__wrap-input popup__input" type="password" id="repeatPass">
            </div>
            <a class="popup__wrap-link" href="./profile.html">Change password</a>
        </form>
    </div>
</div>